apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - app.yaml

commonLabels:
  app.kubernetes.io/instance: toggl-to-sheets
  app.kubernetes.io/name: toggl-to-sheets

# Include these labels in the pod template, but don't include them in selectors,
# as they are supposed to be immutable!
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/version: PLACEHOLDER_VERSION

namespace: toggl-to-sheets

images:
  - name: ghcr.io/sg60/toggl-to-sheets
    newTag: 0.2.1@sha256:b35e05ca6ae24359c4643091be67e2c14742ebbe8fdeb997a4d4a94a70fee6c8

# Use replacements to copy the newTag to the label
replacements:
  - source: # The source of the version (the image tag)
      kind: Deployment
      fieldPath: spec.template.spec.containers.[name=toggl-to-sheets].image # The container image field
      options:
        delimiter: ":" # Specify the delimiter to split the image string
        index: 1 # Select the second part (the tag/version)
    targets: # The destination for the version (the label)
      # Targets the special placeholder value used in the labels block
      - select:
          # Use the label you just applied to select ALL resources
          labelSelector: app.kubernetes.io/version=PLACEHOLDER_VERSION
        fieldPaths:
          - metadata.labels.[app.kubernetes.io/version] # The label itself
