apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - app.yaml

commonLabels:
  app.kubernetes.io/instance: toggl-to-sheets
  app.kubernetes.io/name: toggl-to-sheets

# Include these labels in the pod template, but don't include them in selectors,
# as they are supposed to be immutable!
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/version: 1e9df7fed9ce178779d8cb238d743640a8b3a5a6

namespace: toggl-to-sheets

images:
  - name: ghcr.io/SG60/toggl-to-sheets
    newName: ghcr.io/SG60/toggl-to-sheets:sha-1e9df7fed9ce178779d8cb238d743640a8b3a5a6
